/* Variables
------------------------------------------------------------------*/
:root {
    /* Colors */
    --color-primary: #659e2d;
    --color-primary-light: #8ab45d;
    --color-primary-lighten: #f8fbf5;
    --color-secondary: #ffbd5f;
    --color-title: #2c3722;
    --color-text: #acb0b4;
    --color-border: #efefef;
    --color-orange: #ff7800;
    --color-orange-light: #fa9b48;
    --color-white: #ffffff;
    --color-transparent: rgba(255, 255, 255, 0.98);
    --blur: 30px;
    /* Typography */
    --font-family-primary: "Rubik", sans-serif;
    --fs-xs: 1.2rem;
    --fs-sm: 1.4rem;
    --fs-md: 1.6rem;
    --fs-lg: 1.8rem;
    --fs-xl: 2rem;
    --fs-xxl: 2.8rem;
    --fs-xxxl: 3.2rem;
    --fs-biggest: clamp(3.4rem, 5vw, 6.5rem);

    /* Font Weight */
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semibold: 600;
    --fw-bold: 700;

    /* Box Shadow */
    --shadow-primary: 0px 5px 50px -2px rgba(205, 208, 221, 0.3);
    --shadow-nav: 0px 1px 10px rgba(0, 0, 0, 0.05);
    --shadow-sidebar: -3px 5px 10px rgba(0, 0, 0, 0.05);

    /* Transition */
    --transition: 0.4s ease-in-out;

    /* Width & Height*/
    --width-container: 115rem;
    --height-header: 10rem;

    /* z-index */
    --zindex-menu: 1000;
    --zindex-fixed: 1010;
}

/* CSS Reset
--------------------------------------------------------------*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
    color: var(--color-title);
    font-weight: var(--fw-bold);
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body,
h1,
h2,
h3,
h4,
ul,
p {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
    color: var(--color-text);
}

main {
    overflow: hidden;
}

body {
    font-family: var(--font-family-primary);
    font-size: var(--fs-md);
    color: var(--color-text);
    margin-top: var(--height-header);
}

.container {
    width: 90%;
    max-width: var(--width-container);
    margin: auto;
}

.section {
    padding: 8rem 0;
}

.section__header {
    padding-bottom: 5rem;
    text-align: center;
}

.section__title {
    font-size: var(--fs-xl);
    margin-top: 1.5rem;
}

.section__subtitle {
    font-weight: var(--fw-medium);
    font-size: var(--fs-sm);
    color: var(--color-primary);
}

.d-grid {
    display: grid;
    gap: 3rem;
}

.btn {
    display: inline-block;
    padding: 2.5rem 4rem;
    color: var(--color-white);
    font-weight: var(--fw-medium);
    transition: var(--transition);
    border-radius: 5rem;
}

.btn-primary {
    background-color: var(--color-orange);
}

.btn-primary:hover {
    background-color: var(--color-orange-light);
}

/* Header */

.header{
    position: fixed;
    background-color: var(--color-transparent);
    box-shadow: var(--shadow-nav);
    backdrop-filter: var(--blur);
    top: 0; left: 0; right: 0;
    align-items: center;
    display: flex;
    height: var(--height-header);
    z-index: var(--zindex-menu);
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* .nav__menu {
    margin-left: auto;
    margin-right: 2rem;
} */

.logo{
    color: var(--color-title);
    font-size: var(--fs-lg);
    font-weight: var(--fw-bold);
}

.logo span{
    color: var(--color-orange);
}

.nav__list {
    display: flex;
    gap: 5rem;
}

.nav__link {
    color: var(--color-title);
    transition: var(--transition);
}

.nav__link:hover {
    color: var(--color-orange);
}

#nav-toggle{
    display: none;
}

.nav__buttons{
    display: flex;
    align-items: center;
    column-gap: .7rem;
}

.nav__icon{
    font-size: 2.2rem;
    color: var(--color-title);
    transition: var(--transition);
    cursor: pointer;
}

.nav__icon:hover{
    color: var(--color-orange);
}

.shop__icon{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    background-color: var(--color-primary-lighten);
}

/* Home */
.home__wrapper {
    grid-template-columns: repeat(2, 1fr);
    min-height: calc(100vh - var(--height-header));
    align-content: center;
    padding-top: 5rem;
}

.home__content {
    text-align: initial;
}

.home__title {
    font-size: var(--fs-biggest);
    margin-bottom: 2rem;
}

.home__description {
    margin-bottom: 3rem;
}

.img_home {
    justify-self: center;
}

@media screen and (max-width: 768px) {
    .home__img {
        width: 35rem;
    }
}

/* Media queries */

@media screen and (max-width: 968px) {
    #nav-toggle{
        display: inline-block;
    }

    .nav__menu {
        background-color: var(--color-transparent);
        border-top: 1px solid var(--color-border);
        border-bottom: 1px solid var(--color-border);
        position: fixed;
        top: var(--height-header);
        left: 0;
        right: 0;
        padding: 5rem 0;
        display: flex;
        justify-content: center;
        transition: var(--transition);
        transform: scaleY(0);
        transform-origin: top;
    }

    .nav__menu.active {
        transform: scaleY(1);
    }

    .nav__list {
        flex-direction: column;
        align-items: center;
    }
}

